<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mohaCompany.hpnotebook15.mouraghib">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_general_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.General.MainScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.StudentActivities.StudentLoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".presentation.General.Private"
            android:label="Vous etes?" />
        <activity
            android:name=".presentation.StuffActivities.StuffLoginActivit"
            android:label="@string/title_activity_stuff_login" />
        <activity
            android:name=".presentation.ParentActivities.ParentLoginActivity"
            android:label="@string/title_activity_parent_login" />
        <activity
            android:name=".presentation.ParentActivities.ParentActivity"
            android:label="@string/title_activity_parent"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.StudentActivities.StudentActivity"
            android:label="@string/title_activity_student"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.StuffActivities.StuffActivity"
            android:label="@string/title_activity_stuff"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.General.GeneralInfo"
            android:label="@string/title_activity_general_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.StuffActivities.AddAccount"
            android:label="@string/title_activity_add_account"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".BusinessLogic.MyFirebaseIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".BusinessLogic.MyFirebasemessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".presentation.StudentActivities.StudentNotification"
            android:label="@string/title_activity_notification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.ParentActivities.ParentNotification"
            android:label="@string/title_activity_parent_notification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.StuffActivities.StuffNotification"
            android:label="@string/title_activity_stuff_notification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.General.About"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.General.Sugesstion"
            android:label="@string/title_activity_sugesstion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.General.SocialLife"
            android:label="@string/title_activity_social_life"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>